name: Update Production

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Fetch all branches and commit history
      - name: Pull Main Branch
        run: git checkout main && git pull origin main
      - name: Update Production Branch
        run: |
          git push origin main:production --force
